<button mat-button color="primary" [matMenuTriggerFor]="mainMenu">Módulos</button>
<mat-menu #mainMenu="matMenu" yPosition="below">
  <button mat-menu-item [routerLink]="['pessoas']">Pessoas</button>
  <button mat-menu-item>Alunos</button>
  <button mat-menu-item>Professores</button>
</mat-menu>

<button mat-button color="primary" [matMenuTriggerFor]="cadastros">Cadastros</button>
<mat-menu #cadastros="matMenu" yPosition="below">
  <button mat-menu-item>Usuários</button>
  <button mat-menu-item [routerLink]="['cadastro/pessoa']">Pessoas</button>
  <button mat-menu-item>Funcionários</button>
</mat-menu>
